body {
    text-align: center;
    background-color: #011F3F;
}

h1 {
    font-family: 'Press start 2p', Arial, Helvetica, sans-serif;
    color: #FEF2BF;
    margin: 2em;
}

.btn {
    border: 10px solid;
    border-radius: 40px;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: .5em;
}

.redbtn {
    background-color: red;
}

.bluebtn {
    background-color: blue;
}

.yellowbtn {
    background-color: yellow;
}

.greenbtn {
    background-color: green;
}

.btn:active {
    background-color: grey;
    box-shadow: 0 0 20px white;
}

.btnhighlight {
    /* border-color: rgb(80, 80, 80); */
    box-shadow: 0 0 10px white;
}

.wrong {
    background-color: red;
    opacity: 0.8;
}